header {
  background-color: #FFDEAD;
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

nav ul li a:hover {
  text-decoration: underline;
}
