<div class="home-container">
  <h1>Bem-vindo ao Ponto de encontro!</h1>
  <p>Aqui no Ponto de encontro, nosso objetivo é tornar os momentos especiais com seus amigos ainda mais memoráveis. Se você está procurando o lugar perfeito para se encontrar com aqueles que você mais gosta, você veio ao lugar certo!</p>

  <div class="photo-section">
    <img src="assets/foto1.jpg" alt="Amigos se divertindo">
    <p class="caption">Explorando novos lugares juntos.</p>
  </div>

  <p>Nosso sistema ajuda você a encontrar locais ideais para seus encontros, calculando os pontos de encontro mais equidistantes para todos. Assim, todos os seus amigos podem chegar ao mesmo lugar sem grandes deslocamentos.</p>

  <div class="photo-section">
    <img src="assets/foto2.jpg" alt="Amigos em um bar">
    <p class="caption">Cada encontro é uma nova aventura.</p>
  </div>

  <p>Você pode adicionar os endereços dos seus amigos e escolher entre várias opções de restaurantes, bares e outros lugares de interesse. Com Ponto de encontro, cada encontro se torna mais fácil e mais divertido.</p>
  
  <div class="photo-section">
    <img src="assets/foto3.jpg" alt="Amigos na natureza">
    <p class="caption">Descubra novos lugares que todos vão amar.</p>
  </div>
  
  <p>Vamos começar a criar memórias inesquecíveis? Comece a explorar!</p>
</div>
